[Unit]
Description=%p container
Requires=service.system.docker.service
After=service.system.docker.service
#Requires=network-online.service
#After=network-online.service
#Requires=docker.linuxserver.updater.service
#After=docker.linuxserver.updater.service
After=network-online.target
Requires=network-online.target


[Service]
ExecStart=/bin/sh -c "/storage/.kodi/addons/%p/bin/docker.openvpn.start" &
ExecStop=/bin/sh -c "/storage/.kodi/addons/%p/bin/docker.openvpn.stop"
Restart=always
RestartSec=30s
StartLimitInterval=86400
StartLimitBurst=3
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
